.container {
    padding: 20px;
}

button {
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
    margin: 20px 0;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
    width: 150px;
}
