body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    background: #333;
    color: white;
}
.card:hover {
    transform: scale(1.05);
    transition: 0.3s;
}


nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

section {
    padding: 40px;
    text-align: center;
}

.card {
    background: white;
    margin: 10px;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
}

.dark {
    background: #F5F5DC;
    color: black;
}
button {
    background:#FFFDD0;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
}
@media(max-width: 600px){
    nav ul {
        flex-direction: column;
    }
}
#home {
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card {
    background: white;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
    display: inline-block;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}
section {
    padding: 60px 20px;
}
nav {
    background: rgba(0,0,0,0.8);
    position: sticky;
    top: 0;
}


