body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #667eea, #764ba2);
    color: white;
    text-align: center;
    margin: 0;
}

.container {
    padding: 20px;
}

.profile {
    width: 150px;
    border-radius: 50%;
    margin-top: 30px;
}

button {
    padding: 10px 20px;
    border: none;
    background: white;
    color: #333;
    border-radius: 5px;
    cursor: pointer;
}

.projects {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    background: white;
    color: black;
    padding: 20px;
    border-radius: 10px;
}
li {
    font-size: 18px;
    margin: 10px auto;
    background: white;
    color: black;
    padding: 8px;
    width: 150px;
    border-radius: 5px;
}


